<!-- =========== Navbar Start =========== -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">
            <img src="~/assets/img/tactsoftlogo.png" class="img-fluid" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span>Find Jobs</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#">Browse Jobs</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Single Job View</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Post a Job</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span>Find Works</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#">Browse Projects</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Single Project View</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Post a Project</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span>Find Companies</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#">Browse Companies</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Company Profile</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span>Find Freelancers</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#">Browse Freelancers</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Freelancer Profile</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span>Pages</span>
                        <span class="icon">
                            <i class='fas fa-chevron-down'></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#">About</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Our Blog</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Single Blog View</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Pricing Plans</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Checkout</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Invoice Slip</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="signIn.html">Sign in</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Sign up</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Sign up Select Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Create Freelancer Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Create Company Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Contact</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Help Center</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#searchModal">
                        <i class="bi bi-search"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link postJob" aria-current="page" href="#">Post a Job</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link postTask" aria-current="page" href="#">Post a Task</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- =========== Navbar End =========== -->